#p-lang-input {
    width:250px
}

form{
    width:500px
}

* {
    margin: 0;
    padding: 0;
}

body{
    margin:0px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    background-color: #44BBA4;
}

header{
    background-color: #CB904D;
    color:#d2d4d6;
    /* text-align: center;
    padding: 20px; */
}
/* nav{
    display: flex;
    background-color: #DFCC74;
    justify-content: center;
}
nav a{
    color: #75485E;
    text-decoration: none;
    text-align: center;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
} */
.row{
    display:flex;
    flex-wrap: wrap;
}


sub{
    height: 75px;
}

footer{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

#p1{
    background-color: #C3E991;
    color:#555555;
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #72c209;
}
#p2{
    background-color: #15181a;
    color:#72c209;
    text-align: center;
    padding: 20px;
}
#p3{
    background-color: #00a72a;
    color:#08e2ff;
    text-align: center;
    padding: 20px;
}
table,tr,td,th{
    border: 2px solid #15181a;
    border-collapse: collapse;
    text-align: center;
    width: 25%;
}
.text{
 color: #fff;
}

nav {
    width: 100%; 
    background: rgb(247, 244, 244); 
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
} 

nav a {
    display: flex;
    color: black;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    justify-content: center;
}

nav a:hover {
    background-color: #232C33;
    color:white;
    transition: 0.5s;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul li {
    position: relative;
}

nav li:hover .dropdown-1 li {
    top: 0;
    display: block;
    background-color: white;
    border-radius: 10px;
}

nav ul li ul {
    background-color: transparent;
}

nav ul li ul a:hover, .nav-active {
    background-color: #232C33;
    color: white;
}

.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-1 li {
    display: none;
    position: relative;
}

.dropdown-1 ul li:hover {
    display: block;
}

.contact-container {
 text-align: center;
 justify-content: center;
 display: inline-block;
}
.contact{
    justify-content: center;
}

.text{
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 24px;
    justify-content: left;
    border: 3px solid rgb(0, 0, 0);
    background-color: #bbbbbb;

}

/*  styling for submit button on contact page  */
.submit-btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(7, 82, 117);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(255, 255, 255);
   }

   .submit-btn:hover {background-color: #4cadfd}

   .submit-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(238, 233, 233);
    transform: translateY(4px);
  }
  legend{
      justify-content: center;
      margin: auto;
      width: 50%;
      border: 3px solid rgb(0, 0, 0);
      background-color: #eeff00;
      
      padding: 10px;
      border-radius: 15px;
  }
  .contact-name{
    justify-content: left;
    
  }

  #f1{
      flex-wrap: inherit;
      justify-content: center;
      padding-left: 480px;
  }
  #pic{
    width: 200px;
    height: 150px;
    padding-left: 0%;
    
    justify-content: left;
}
#logo{
    justify-content: left;
}